@media print { 
.noprint { display: none; }
} 

.prinput {
    padding-left: 50px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    width: 190px;
    height: 40px;
}

.iteminput {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
	width: 300px;
	height: 30px;
}

.error{
    background-color: #F3923B;
    color: #F0F1F1;
    width: 800px;
    height: 300px;
    margin: 100px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-color:#F0F1F1;
    font-size:20px;
    text-align: center;
    padding: 100px;
    
}

/*.error-keyup-2{
    border-radius: 3px;    
    position:absolute;
    left:10px;
    top:50px;
    z-index:10;
}*/

